<span>{{ title }} app is running!</span>
<br>
<button id="enableTimeout" (click)="enableTimeout()">Enable timeout</button>
<button id="enableInterval" (click)="enableInterval()">Enable interval</button>
<button id="runPromise" (click)="runPromise()">runPromise</button>
<button id="runObservable" (click)="runObservable()">runObservable</button>
<button id="runRequest" (click)="runRequest()">runRequest</button>
<button id="run3rdPartySetTimeout" (click)="run3rdPartySetTimeout()">run3rdPartySetTimeout</button>
<br>
<br>
<button id="redirect" (click)="navigateToNonAngular()">Go To NON-ANGULAR</button>
